<div class="col s9">
    <div class="card">
        <div class="card-content">
            <h3>Edită articolul</h3>
            <div class="input-field">
                <input id="title" placeholder="Titlu" type="text" [(ngModel)]="post.title">
                <label for="title">Titlu</label>
            </div>
            
            <div class="tools">
                <div class="row">
                    <div class="col s12 ">
                        <a class="btn col btn_large" (click)="editor.formatText('bold', false)"><i class="material-icons">format_bold</i></a>
                        <a class="btn col btn_large" (click)="editor.formatText('italic', false)"><i class="material-icons">format_italic</i></a>
                        <a class="btn col btn_large" (click)="editor.formatText('formatBlock', 'blockquote')"><i class="material-icons">format_quote</i></a>
                        <a class="btn col btn_large" (click)="editor.formatText('underline', false)"><i class="material-icons">format_underlined</i></a>
                        <a class="btn col btn_large" (click)="editor.formatText('strikethrough', false)"><i class="material-icons">format_strikethrough</i></a>
                        <a class="btn col btn_large" (click)="editor.formatText('justifyLeft', false)"><i class="material-icons">format_align_left</i></a>
                        <a class="btn col btn_large" (click)="editor.formatText('justifyCenter', false)"><i class="material-icons">format_align_center</i></a>
                        <a class="btn col btn_large" (click)="editor.formatText('justifyRight', false)"><i class="material-icons">format_align_right</i></a>
                        <a class="btn col btn_large" (click)="editor.formatText('insertOrderedList', false)"><i class="material-icons">format_list_numbered</i></a>
                        <a class="btn col btn_large" (click)="editor.formatText('undo', false)"><i class="material-icons">undo</i></a>
                        <a class="btn col btn_large" (click)="editor.formatText('redo', false)"><i class="material-icons">redo</i></a>
                        <a class="btn col btn_large" (click)="editor.formatText('removeFormat', false)"><i class="material-icons">format_clear</i></a>
                    </div>
                    </div>
                    <div class="selectors_container">
                        <div class="input-field col s2">
                            <select (change)="editor.formatText('forecolor', $event.target[$event.target.selectedIndex].value);$event.target.selectedIndex=0;">
                                <option selected hidden disabled>Culoarea Textului</option>
                                <option value="black">Negru</option>
                                <option value="white">Alb</option>
                                <option value="#f44336">Roșu</option>
                                <option value="#2196f3">Albastru</option>
                                <option value="#4caf50">Verde</option>
                                <option value="#ffeb3b">Galben</option>
                                <option value="#ff9800">Portocaliu</option>
                                <option value="#e91e63">Roz</option>
                                <option value="#9c27b0">Violet</option>
                            </select>
                        </div>
                        <div class="input-field col s2">
                            <select (change)="editor.formatText('fontname',$event.target[$event.target.selectedIndex].value);$event.target.selectedIndex=0;">
                                <option selected hidden>Font</option>
                                <option value="Arial">Arial</option>
                                <option value="Impact">Impact</option>
                                <option value="Times New Roman">Times New Roman</option>
                                <option value="Courier New">Courier New</option>
                                <option value="Verdana">Verdana</option>
                                <option value="Calibri">Calibri</option>
                                <option value="Roboto">Roboto</option>
                            </select>
                        </div>
                        <div class="input-field col s3">
                            <select (change)="editor.formatText('backcolor',$event.target[$event.target.selectedIndex].value);$event.target.selectedIndex=0;">
                                <option selected hidden>Culoarea Fundalului</option>
                                <option value="black">Negru</option>
                                <option value="white">Alb</option>
                                <option value="#f44336">Roșu</option>
                                <option value="#2196f3">Albastru</option>
                                <option value="#4caf50">Verde</option>
                                <option value="#ffeb3b">Galben</option>
                                <option value="#ffc107">Portocaliu</option>
                                <option value="#f06292">Roz</option>
                                <option value="#ba68c8">Violet</option>
                            </select>
                        </div>
                        <div class="input-field col s2">
                            <select (change)="editor.formatText('formatblock',$event.target[$event.target.selectedIndex].value);$event.target.selectedIndex=0;">
                                <option selected hidden>Format</option>
                                <option value="h1"><h1>Titlu 1</h1></option>
                                <option value="h2"><h2>Titlu 2</h2></option>
                                <option value="h3"><h3>Titlu 3</h3></option>
                                <option value="h4"><h4>Titlu 4</h4></option>
                                <option value="h5"><h5>Titlu 5</h5></option>
                                <option value="h6"><h6>Titlu 6</h6></option>
                                <option value="p"><p>Paragraf</p></option>
                                <option value="pre"><pre>Preformatat</pre></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field col s3">
                        <select (change)="editor.formatText('fontsize',$event.target[$event.target.selectedIndex].value);$event.target.selectedIndex=0;">
                            <option selected hidden>Mărime Font</option>
                            <option value="2">Mic</option>
                            <option value="4">Normal</option>
                            <option value="6">Mare</option>
                        </select>
                    </div>

                <div class="content">
             <!--       <a class="btn modal-trigger small" id="modal-trigger1" href="#modal1"><i class="material-icons">add_a_photo</i></a>-->
                    <a class="btn small" (click)="editor.addVideo()" style="margin-left: 1vw;"><i class="material-icons">video_call</i></a>
                    <a class="btn right small" (click)="changeView()"><i class="material-icons" id="set_code_or_visual_icon">{{ editorMode }}</i></a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <iframe class="text_input s12 z-depth-1" id="post_text"></iframe>
                    <textarea class="text_input s12 z-depth-1 hide" id="post_code">{{post.text}}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col s3">
    <div class="card">
        <div class="card-content">
            <button (click)="saveChanges()" class="btn" style="width: 100%;">Salvează</button>
        </div>
    </div>
</div>
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a href="">Test 1</a></li>
                <li class="tab col s3"><a href="" class="active">Test 2</a></li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>