<div class="col s4">
    <div class="card light-blue darken-2" style="cursor: pointer" (click)="clickTag('social')">
        <div class="card-content white-text">
            <p>Social<i class="material-icons right">people</i></p>
        </div>
    </div>
    <a routerLink="articol/{{post.url}}" class="black-text" *ngFor="let post of lists['social']">
        <div class="card post hoverable">
            <div class="card-image categoric-image-container">
                <img src="{{post.cover}}" class="categoric-image">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <div class="section">
                        <p style="font-size: 1.9rem">{{ post.title  }}</p>
                    </div>
                    <div style="position: absolute; bottom: 5%; width: 90%">
                        <div class="divider"></div>
                        <div class="section">
                            <p class="icons_container"><i class="material-icons tiny black-text icon">access_time</i> {{ post.date }} |<i class="material-icons tiny black-text icon">contacts</i> {{post.author}} | <i class="material-icons tiny black-text icon">remove_red_eye</i> {{post.views}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="col s4">
    <div class="card light-blue darken-2" style="cursor: pointer" (click)="clickTag('politic')">
        <div class="card-content white-text">
            <p>Politic<i class="material-icons right">gavel</i></p>
        </div>
    </div>
    <a routerLink="articol/{{post.url}}" class="black-text" *ngFor="let post of lists['politic']">
        <div class="card post hoverable">
            <div class="card-image valign-wrapper categoric-image-container">
                <img src="{{post.cover}}" class="categoric-image">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <div class="section">
                        <p style="font-size: 1.9rem;">{{ post.title  }}</p>
                    </div>
                    <div style="position: absolute; bottom: 5%; width: 90%">
                        <div class="divider"></div>
                        <div class="section">
                            <p class="icons_container"><i class="material-icons tiny black-text icon">access_time</i> {{ post.date }} |<i class="material-icons tiny black-text icon">contacts</i> {{post.author}} | <i class="material-icons tiny black-text icon">remove_red_eye</i> {{post.views}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="col s4">
    <div class="card light-blue darken-2" style="cursor: pointer" (click)="clickTag('social')">
        <div class="card-content white-text">
            <p>Economic<i class="material-icons right" style="cursor: pointer">account_balance</i></p>
        </div>
    </div>
    <a routerLink="articol/{{post.url}}" class="black-text" *ngFor="let post of lists['economic']">
        <div class="card post hoverable">
            <div class="card-image valign-wrapper categoric-image-container">
                <img src="{{post.cover}}" class="categoric-image">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <div class="section">
                        <p style="font-size: 1.9rem;">{{ post.title  }}</p>
                    </div>
                    <div style="position: absolute; bottom: 5%; width: 90%">
                        <div class="divider"></div>
                        <div class="section">
                            <p class="icons_container"><i class="material-icons tiny black-text icon">access_time</i> {{ post.date }} |<i class="material-icons tiny black-text icon">contacts</i> {{post.author}} | <i class="material-icons tiny black-text icon">remove_red_eye</i> {{post.views}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
<div class="col s12">
    <div class="card light-blue darken-2" style="cursor: pointer" (click)="clickTag('video')">
        <div class="card-content white-text">
            <p>Video<i class="material-icons right">videocam</i></p>
        </div>
    </div>
    <div class="row">
        <div class="col s4" *ngFor="let post of lists['video']">
            <div class="card hoverable" >
                <a routerLink="articol/{{post.url}}" class="black-text">
                    <div class="card-image" style="height:40vh">
                        <img src="{{post.cover}}" style="height: 100%; object-fit: cover; overflow: hidden;">
                        <span class="card-title" style="background-color: rgba(1, 87, 155, 0.5); margin: 2%">{{ post.title }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>